:root {
	--grid-rows: 1;
	--grid-columns: 1;
}

body {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	margin-top: 50px;
}

#container {
	display: grid;
	height: 700px;
	width: 700px;
	grid-template-columns: repeat(var(--grid-rows), 1fr);
	grid-template-rows: repeat(var(--grid-columns), 1fr);
	border: 2px solid black;
}

@media only screen and (max-width: 600px) {
	#container {
		max-height: 400px;
		max-width: 400px;
	}
}

.grid-item {
	padding: 0.2em;
	border: 1px solid black;
	font-size: 0.5em;
}
